html{
	overflow:hidden;
}

body{ 
	user-select: none;
	}

.text{
	text-align: center;
	opacity:0.3;
	font-size:300%;
	font-family:"Courier New";
}
	
#ball{
	height: 200px;
	width: 200px;
	left:0px;
	top:0px;
	position:absolute;
	-webkit-transform:rotate(0deg);
	transform(0deg);
	}