html{
	overflow:hidden;
}

body{ 
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
	}

@keyframes disappear {
    from {opacity:1;}
    to {opacity:0;}
}

.text{
	font-size:75px;
	font-family:"Courier New";
	opacity:0.3;
	text-align: center;
}


.buffer{
	margin-top: 15%;
}
	
#ball{
	height: 0px;
	width: 0px;
	left:0px;
	top:0px;
	position:absolute;
	-webkit-transform:rotate(0deg);
	transform(0deg);
	}