body{
	max-width: 100%;
	overflow-x:hidden;
	font-family:Roboto;
	background-image: url("assets/texture.jpg");
    background-repeat:repeat;
    font-size:16px;
}

@media(max-width:45em){
	.header{font-size:30px;}
}

.titleimage{
	height:100%;
	width:100%;
}

.landing{
	height:100vh;
	width:100vw;
	justify-content:center;
	align-items:center;
	display:flex;
	flex-direction:column;
	margin-bottom:4em;
}

#aboutme{
	background-color:#434549;
	font-size:200%;
	color:#fffaf7;
	font-weight:bold;
}

.header{
	position:absolute;
	top:25%;
	width:100%;
	font-family:Merriweather;
	color:white;
	font-size:700%;
	font-weight:bolder;
	text-align:center;
}

.subtitle{
	font-size:50%;
	font-weight:lighter;
}

.darkback{
	background-color:black;
}

#image{
	height:300px;
	width:300px;
	display:block;
	margin:auto;
	margin-bottom:30px;
}

.b-orange{
	color:#ff9335;
	font-weight:bolder;
}

.leftalign{
	text-align:left;
}

.stars{
	float:right;
	color:#002e7a;
}

.title{
	color:#424447;
	font-size:200%;
	font-weight:bolder;
	text-align:center;
	margin-top:50px;
	margin-bottom:40px;
}

#skilllist{
	font-weight:bold;
}

#myframe{
	height:83vh;
	width:100%;
}

.project{
	height:100px;
	margin-top:30px;
	background-color:#649ffc;
	text-align:center;
	font-size:150%;
	padding-top:30px;
	border-radius:30px;
}

.project:hover{
	background-color:#3271d3;
	box-shadow:1px 1px black;
}

#projectinfo{
	margin-top:30px;
	padding-left:20px;
	padding-right:20px;
	border-radius:30px;
	background-color:black;
	color:white;
	font-size:150%;
}