body{
	background-image:url("assets/background.jpg");
	font-family: 'BenchNine', sans-serif;
	font-size:24pt;
}

@media(orientation:landscape){
	body{
		background-image:url("assets/dark_db.jpg");
		background-size:100vw 100vh;
	}
}

@media(orientation:portrait){
	body{
		background-image:url("assets/greyback.png");
	}
}

.b-orange{
	color:#ff9335;
	font-weight:bolder;
}

#navmenu{
	margin-top:55px;
	display:flex;
	justify-content:space-between;
	align-content:center;
	text-align:center;
	flex-wrap:wrap;
}

#ianlai{
	margin-left:0;
	font-size:56pt;
	flex-grow:8;
	text-align:left;
	padding-left:50px;
	color:white;
	font-weight:bold;
}

.navtab{
	font-size:32pt;
	flex-grow:1;
	color:white;
	text-align:center;
}

.navtab:hover{
	text-decoration: underline;
	-moz-text-decoration-color: #f29c24; /* Code for Firefox */
	text-decoration-color: #f29c24;
}

#contentbox{
	margin-left:50px;
	background-color:rgba(0,0,0,0.2);
	color:white;
	max-height:70%;
	max-width:50%;
	padding:20px;
	-webkit-transition: height 0.5s, width 0.5s;
	transition: height 0.5s, width 0.5s;
}

.content{
	display:none;
}

.thingsido{
	position:absolute;
	top:30%;
	width:100%;
	text-align:center;
	font-size:48pt;
}

#skilltable{
	position:absolute;
	overflow-y:hidden;
	bottom:0px;
	height:200px;
	max-height:0px;
	width:100%;
	-webkit-transition: max-height 0.5s linear;
	transition: max-height 0.5s linear;
	background-color:#f4f4ff;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}

.skill{
	vertical-align:center;
}

.strength{
	float:right;	
}

.fullBox{
	display:inline-block;
	width:50px;
	height:25px;
	background-color:#5c5d5e;
	border:#1b1b1c;
	border-style:solid;
	margin-left:10px;
}

.emptyBox{
	display:inline-block;
	width:50px;
	height:25px;
	background-color:#c3c3cc;
	border:#1b1b1c;
	border-style:solid;
	margin-left:10px;
}

#myframe{
	height:600px;
	width:100%;
}

#projectList{
	position:absolute;
	z-index:1;
}

#projectTab{
	display:flex;
	flex-direction:column;
	align-content:space-between;
}

.project{
	max-height:0px;
	height:70px;
	overflow-y:hidden;
	-webkit-transition: max-height 0.5s linear;
	transition: max-height 0.5s linear;
	background-color:#f29c24;
	margin:10px;
	color:#767777;
	border-radius:5px;
	padding-left:5px;
	padding-right:5px;
}

.project:hover{
	background-color:#af6e13;
}

.newtab{
	margin:10px;
	background-color:#eaefef;
	height:25px;
	width:25px;
}

#flexBox{
	display:flex;
	justify-content:space-around;
	align-content:center;
	text-align:center;
}

.contactpic{
	height:100px;
	width:100px;
	border-radius:10px;
}