button{
	width:200px;
	height:200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size:200%;
	margin:auto;
}

.text{
	font-size:300%;
	width:100%;
	text-align:center;
}

#buttonContainer{
	display:flex;
	justify-content:center;
}

#replay{
	width:80%;
	margin-left:10%;
}

#targetnote{
	font-size:500%;
}

#game{
	display:none;
}

#play{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%)
}